# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# vim
*.swp
*.swo

# tmp
fs/bin/*
fs/init
fs/sh
*~
_*
*.d
*.asm
*.sym
*.img
kernel/vectors.S
kernel/bootblock
kernel/entryother
kernel/initcode
kernel/initcode.out
kernel/kernel
kernel/kernelmemfs
mkfs
.gdbinit

